@use "variables" as var
    
body
    font-family: var.$default-font
    color: var.$default-background-color
    background-color: var.$default-background-color

    &.dark-mode
        color: var.$dark-mode-background-color
        background-color: var.$dark-mode-background-color

h1, h2, h3, h4, h5, h6, summary
    font-family: var.$default-heading-font
    color: var.$default-text-color
    font-weight: 900

.dark-mode 
    h1, h2, h3, h4, h5, h6, summary
        color: var.$dark-mode-text-color

span, p, a
    color: var.$default-text-color

.dark-mode 
    span, p, a
        color: var.$dark-mode-text-color

button
    margin: 1rem
    padding: 1rem 2rem
    color: var.$button-color
    border: 1px solid var.$button-color
    border-radius: 2rem
    background-color: transparent
    height: min-content

    &.highlight
        background-color: var.$button-color
        color: white

input
    background-color: var.$default-input-color

label
    font-family: var.$default-heading-font
    font-weight: bold

#app
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 100vh
    background-color: inherit

    > h1, > h2
        font-family: var.$default-font
        font-weight: bold
        font-size: 1.5rem
        color: var.$default-heading-color
        text-align: center
        padding-block: .5rem

    > h2
        font-size: 1.1rem
        color: var.$default-text-color
        font-weight: 500