@use 'fonts'
    
// Colors:
$newsify-gray: #404040
$newsify-green: #4D861F



$default-font: "Open Sans", serif
$default-heading-font: "Playfair Display", serif

$default-heading-color: $newsify-green
$default-text-color: $newsify-gray

$button-color: $newsify-green